{%- liquid
  assign swatch_trigger = settings.color_swatch_trigger | downcase
  assign show_more_threshold = 4
-%}

{%- for option in product.options_with_values -%}
  {%- liquid
    assign option_name = option.name | downcase
    assign is_color = false
    if option_name contains 'colour' or option_name contains 'color'
      assign is_color = true
    endif
  -%}

  {%- if is_color -%}
  {%- liquid
    assign option_index = forloop.index0
    assign values = ''
    assign swatch_count = 0
  -%}

  <ul class="product-card__swatches flex flex-wrap gap-2{% if option.values.size > 3 %} product-card__swatches--many{% endif %}">
    {%- for variant in product.variants -%}
      {%- assign value = variant.options[option_index] -%}

      {%- unless values contains value -%}
        {%- liquid
          assign values = values | join: ',' | append: ',' | append: value | split: ','
          assign swatch_count = swatch_count | plus: 1

          assign color_meta = variant.metafields.style.color_ref.value
          assign swatch_style = ''
          assign color_value = color_meta.gradient | default: color_meta.hex
          if color_value != blank
            if color_value contains 'gradient'
              assign swatch_style = 'background: ' | append: color_value | append: ';'
            elsif color_value contains '#'
              assign swatch_style = 'background-color: ' | append: color_value | append: ';'
            else
              assign swatch_style = 'background: ' | append: color_value | append: ';'
            endif
          endif
        -%}

        {%- if swatch_count <= show_more_threshold and swatch_style != '' -%}
          <li>
            <a
              href="{{ variant.url }}"
              class="color-swatch-item {% if variant.available == false %}is-sold-out{% endif %} {% if swatch_count == 1 %}is-active{% endif %}"
              title="{% if variant.available %}{{ value }}{% else %}{{ value }} - {{ 'products.product.variant_sold_out_or_unavailable' | t }}{% endif %}"
              data-variant-id="{{ variant.id }}"
              data-variant-image="{% if variant.image %}{{ variant.image | image_url: width: 900 }}{% endif %}"
              {% if variant.available == false %}
                aria-disabled="true"
              {% endif %}
              style="{{ swatch_style }}"
            >
              {%- if variant.available == false -%}
                <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
              {%- endif -%}
            </a>
          </li>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}

    {%- if swatch_count > show_more_threshold -%}
      <li class="swatch-more">
        <a href="{{ product.url }}" class="block reversed-link text-sm-extra" aria-expanded="false">
          <span class="reversed-link__text">+{{ swatch_count | minus: show_more_threshold }}</span>
        </a>
      </li>
    {%- endif -%}
  </ul>
  {%- endif -%}
{%- endfor -%}